<div class="container">
    <div class="content">
      <div class="date">15 DE AGOSTO DE 2025</div>
      <h1 class="title">
        Los invitamos a
        <br>
        nuestra boda
      </h1>
      
      <div class="faltan">FALTAN...</div>
      
      <div class="countdown">
        <div class="time-block">
          <div class="number">{{timeLeft.days}}</div>
          <div class="label">Días</div>
        </div>
        <div class="time-block">
          <div class="number">{{timeLeft.hours}}</div>
          <div class="label">Horas</div>
        </div>
        <div class="time-block">
          <div class="number">{{timeLeft.minutes}}</div>
          <div class="label">Minutos</div>
        </div>
        <div class="time-block">
          <div class="number">{{timeLeft.seconds}}</div>
          <div class="label">Segundos</div>
        </div>
      </div>
    </div>
  </div>